body {
  text-align: center;
  background-color: #393e50;
}

h1 {
  font-size: clamp(4rem, calc(4.5vw + 1rem), 7rem);
  color: #ebfaff;
  font-family: "Zen Dots", sans-serif;
  text-shadow: 3px 0 #da0463;
}
